@use "./base/typography";

.main-content {
  margin: 4em auto 0;
	width: 800px;
	text-transform: uppercase;
}

.ticket {
  background-color: #ebab7d;
  display: grid;
  text-align: center;
  grid-template-columns: 70% 20% 10%;
  padding: 1rem;
  line-height: 12px;

}

// .ticket__main{

// }

.ticket__side{
  // transform: rotate(90deg);
  writing-mode: vertical-rl;
  // outline: 1px solid red;
  width: max-content;
  height: max-content;
  .logo{
    font-size: 33px;
  }
  
}

img {
  outline: 4px solid black;
}

hr {
  background-color: black;
  border: none;
  block-size: 2px;
}
